<!DOCTYPE html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/static/css/style.css">
		<script type="text/javascript" src="/static/js/3rd/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="/static/js/3rd/socket.io.js"></script>
		<script type="text/javascript" src="/static/js/3rd/Chart.bundle.js"></script>
		<script type="text/javascript" src="/static/js/serverConnection.js"></script>
		<script type="text/javascript" src="/static/js/ui.js"></script>
	</head>
	<body class="bgImage">

		<h1 class="title">iBike</h1>

		<div class="box">
			<div class="label">DATUM</div>
			<div class="value">{{time}}</div>
		</div>

		<div class="box">
			<div class="label">MESSUNG</div>
			<div class="value">{{Messung}}</div>
		</div>		

		<form action="{{ url_for('laeuft', par1 = Messung)}}" method='POST'>
			<div class="box">
				<label for="nameInput" class="label">TITEL</label>
				<input type="text" id="nameInput" name="Bezeichnung" class="value nameInput"/>
			</div>
			<button type="submit" value="start" class="startBtn">
				<div class="icon"></div>
			</button>
		</form>

		<div class="chartContainer">
			<canvas id="myChart"></canvas>
		</div>

		<div id="pingpong"></div>
		<footer>
			<div class="copyright">Copyright &copy; 2017 Tim Schulz. All rights reserved.</div>
		</footer>
	</body>
</html>
